{% extends "base.html" %}
{% block title %}About {% endblock %}
{% block content%}
{% load static %}
<img src="{% static 'images/about_banner.jpg'%}" class=" d-block w-100 about-image " alt="...">
<div class="container w-50 text-center">
        <h4>Office Address</h6>
        <p>City Hospital Complex Limited,
        Kanniyampuram Post,<br>
        Ottapalam,<br>
        Palakkad,<br>
        Kerala,<br>
        INDIA. Pin Code : 679 104.</p>
        <br>
        <br>
        <h4>Address Of Nursing School</h6>
        <p>City Hospital Complex Limited,
        Kanniyampuram Post,<br>
        Ottapalam,<br>
        Palakkad,<br>
        Kerala,<br>
        INDIA. Pin Code : 679 104.</p>
</div>
{% endblock %}

